<footer style="margin-top: 200px !important;">
    <h6>&copy; Sumant K. Pathak </h6>
    <!-- <ul>
        <% if(locals.user) {%>
            <li>
                <a href="/users/profile">Profile</a>
            </li>
        <%} else {  %>
            <li>
                <a href="/users/signup">Sign Up</a>
            </li>
            <li>
                <a href="/users/signin">Sign In</a>
            </li>
        <% }%>
    </ul> -->
    <h6>
        the hex
    </h6>
</footer>