<div class="parent-div" style="background-image: url( <%= assetPath('images/milkyway.jpeg') %>) !important;" > 
    
    <div class='form-container'>
        <h5 style="text-align: center;">Enter new password</h5>    
        <p style="font-size: smaller;">
            Enter a new password for your account.
        </p>
        <form action="/reset-password/new-password" method="POST" style="margin-top: 10%;">
            <input type="hidden" name="userId" value="<%=locals.user_id%>">
            <input class="width-100" type="password"  name= "password" placeholder="Enter new password">
            <input class="width-100" type="password" name= "confirm-password" placeholder="Confirm password">
            <input class="width-100" type="submit" value="Reset password" style="background-color: #4ba550; color: white;">
        </form>
    </div>
</div>

<%- include("footer"); %>